body{
    margin: 0;
    font-family: 'Merriweather', serif;
     
}
h1{
    font-size: 4rem;
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   color: #66BFBF;

}
.top-container{
    background-color: #DCE9EB;
    text-align: center;
    padding-top: 100px;
   
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 400px;
    
}
.top-cloud{
    position: absolute;
    right: 350px;
    top: 50px;
}
.middle-container{
    text-align: center;
}
.bottom-container{
    text-align: center;
}
.skill{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.hobby{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.computer-img{
    width: 40%;
}
.Puppy-img{
    width: 40%;
}